:is(.main, .header) {
  display: grid;
  place-items: center;
}

.main {
  min-block-size: 100dvb;
}

.header {
  gap: var(--size-5);
  h1 {
    text-align: center;
    max-inline-size: calc(var(--size-content-1) / 2);
    font-size: var(--font-size-fluid-3);

    @media (--md-n-below) {
      color: var(--link);
    }
  }
}
